* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  height: 150vh;
}

.container .home {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.home {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* Rasmni konteynerga to'liq joylash */
  background-position: center;
  /* Rasmning markaziy qismini ko'rsatish */
  background-repeat: no-repeat;
  /* Rasm takrorlanmasligi uchun */
}


.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 0 97px;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar ul li {
  height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 13px;
  background: #6B6B6B33;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  line-height: 23px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  transition: .5s;
}

.button:hover,
.navbar ul li:hover {
  background: #FD9200;
}

.navbar ul li a {
  color: white;
  font-family: sans-serif;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); */
  opacity: 10;
}

.button {
  transition: .5s;
  width: 65px;
  height: 37px;
  border: none;
  align-items: center;
  text-align: center;
  margin: auto;
  background: #6B6B6B33;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); */
  opacity: 10;
  font-weight: 700;
}

.option {
  color: white;
  font-family: sans-serif;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); */
  opacity: 10;
  font-weight: 700;
  background: #6B6B6B33;


}

.button:focus {
  outline: none;
}

.bottom {
  position: absolute;
  bottom: 83px;
  width: 100%;
  text-align: center;
  padding: 10px 70px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: start;
  text-align: start;
  height: 40vh;
}

.main a {
  color:#FFFFFF80;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;

}

.main ul {
  display: flex;
  gap: 16px;
}

.main a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease;
}

.main a:hover::after {
  width: 100%;
}

.main a:hover {
  color:#FFFFFF

}

.one-text {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
}

.text {
  font-size: 55px;
  font-weight: 300;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  transform: scaleY(.6);
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  opacity: 0.9;
}

.two-text {
  font-size: 120px;
  line-height: 94px;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  transform: scaleY(.7);
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  margin-bottom: 10px;
}

.bottom-p {
  width: 794px;
  font-weight: 400;
  font-size: 17px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  opacity: 10;
  line-height: 20.57px;
  font-family: sans-serif;
}

.table {
  position: absolute;
  bottom: -80px;
  color: white;
  display: flex;
}

.border {
  border: 1px solid #FFFFFF;
  width: 98%;
  position: absolute;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  opacity: 10;
}

.border-mini {
  border: 1px solid #FFFFFF;
  height: 90px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  opacity: 10;
}
.box-shadow {
  box-shadow: 0 0 1400px 400px rgba(10, 10, 10, 0.5); /* Soya kengligi va balandligini oshirish */
  position: absolute;
  left: 0;
  width: 98vw;
  z-index: -1; 
}



.button {
  width: 80px;
  height: 40px;
  background: #6B6B6B33;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  appearance: none;
}

.button option {
  background: #333;
  color: white;
  padding: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}



.card {
  margin: 20px;
  font-family: sans-serif;
  font-size: 17px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  opacity: 10;
}

.menu {
  width: 35px;
  height: 37px;
  background: #6B6B6B33;
  border-radius: 8px;
  display: none;

}

.logo {
  /* border: 2px solid black; */
  width: 248px;
  height: 30px;

}

.home {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 2s ease-in-out;
}



:root {
  --main-color: #FD9200;
}

.icoun a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  font-size: 2.5rem;
  border-radius: 50%;
  color: black;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
  background: white;
  transition: 1s;
}
.icoun a:hover {
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  color: white;
  background: var(--main-color);
}
footer {
  border: 2px solid black;
  height: 30vh;
  font-family: sans-serif;
  background: black;
  color: white;
}
.container-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 60px;
  justify-content: center;
}
.container-card h2{
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
}

.card-footer p{
  width: 200px;
  margin-top: 40px;
}

.border-footer {
  border: 1px solid var(--main-color);
  height: 170px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  opacity: 10;
}
.card-footer h2 {
  position: relative;
  display: inline-block;
}

.card-footer h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease;
}

.card-footer h2:hover::after {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .container {
   min-width: 800px;
  }

  .navbar ul {
    display: flex;
    position: absolute;
    right: 0;
    padding: 10px;
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar img {
    position: absolute;
    left: 0;
    margin-left: 20px;

  }

  .navbar ul li {
    display: none;
  }

  .menu {
    display: block;
  }

  .main h1 {
    font-size: 70px;
  }

  .bottom-p {
    width: 700px;
  }

  .table {
    margin-left: -48px;
  }

  .main {
    margin-left: -43px;
    line-height: 30px;
  }
  .footer{
    background: #000;
    min-height: auto;
  }

}


@media only screen and (max-width: 700px) {
  .container {
    max-width: 700px;
   }
  .navbar ul {
    display: flex;
    position: absolute;
    right: 0;
    padding: 10px;
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar img {
    position: absolute;
    left: 0;
    margin-left: 20px;

  }

  .card p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    max-width: 350px;
  }

  .logo {
    width: 150px;
  }

  .navbar ul {
    display: flex;
    position: absolute;
    right: 0;
    padding: 10px;
  }

  .navbar ul select {
    width: 70px;
    height: 35px;
  }

  .navbar {
    display: flex;
    align-items: center;
  }

  .navbar img {
    position: absolute;
    left: 0;
    margin-left: 20px;

  }

  .text-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 0;
  }


}
